#walrus-showing {
  display: none;
}
.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.whiteOnBlack {
  background-color: black;
  color: white;
}

.well {
  background-color: royalblue;
}

.highlight {
  background-color: #ffffcc;
  border: 2.5px black solid;
  cursor: pointer;
  color: black;
}
